* {
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    height: 100%;
}

body {
    background: #222;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font: 100%/1.5 sans-serif;
    overflow: hidden;
}

.score {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
}

.stage {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.cell {
    background-color: rgba(0, 0, 0, 0.15);;
}

.snake-on-cell {
    background-color: #e30b5c;
}

.point {
    background-color: rgb(119, 255, 51);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.play {
    height: 400px;
    width: 80px;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    cursor: pointer;

}

.play h1 {
    font-size: 100px;
}